<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greendam.template.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.greendam.template.model.entity.User">
        <id column="id" property="id"/>
        <result column="user_account" property="userAccount"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_name" property="userName"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="user_profile" property="userProfile"/>
        <result column="user_role" property="userRole"/>
        <result column="edit_time" property="editTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <select id="select" parameterType="com.greendam.template.model.entity.User" resultMap="BaseResultMap">
        SELECT
        id, user_account, user_password, user_name, user_avatar, user_profile, user_role,
        edit_time, create_time, update_time, is_delete
        FROM `user`
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="userAccount != null">AND user_account = #{userAccount}</if>
            <if test="userPassword != null">AND user_password = #{userPassword}</if>
            <if test="userName != null">AND user_name LIKE concat('%', #{userName}, '%')</if>
            <if test="userProfile != null">AND user_profile LIKE concat('%', #{userProfile}, '%')</if>
            <if test="userRole != null">AND user_role = #{userRole}</if>
        </where>
        LIMIT 1
    </select>

    <insert id="insert" parameterType="com.greendam.template.model.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (user_account, user_password, user_name, user_avatar, user_profile, user_role, is_delete)
        VALUES (#{userAccount}, #{userPassword}, #{userName}, #{userAvatar}, #{userProfile}, #{userRole}, #{isDelete})
    </insert>

    <update id="update" parameterType="com.greendam.template.model.entity.User">
        UPDATE `user`
        <set>
            <if test="userAccount != null"> user_account = #{userAccount},</if>
            <if test="userPassword != null"> user_password = #{userPassword},</if>
            <if test="userName != null"> user_name = #{userName},</if>
            <if test="userAvatar != null"> user_avatar = #{userAvatar},</if>
            <if test="userProfile != null"> user_profile = #{userProfile},</if>
            <if test="userRole != null"> user_role = #{userRole},</if>
            <if test="isDelete != null"> is_delete = #{isDelete},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM `user` WHERE id = #{id}
    </delete>


</mapper>
